<div class="card">
    <div *ngIf="!isModalOpen" class="card-body">
      <div class="project-detail">
        <h2>Project Detail</h2>

        <div class="AddTaskDiv">
            <input type="text" [(ngModel)]="newTaskName" placeholder="Enter new task name">
            <div class="saveDiv">
                <button type="submit" class="btn" (click)="addTask()">Add Task</button>
            </div>
        </div>

        <h3>{{ project.name }}</h3>
        <p>{{ project.description }}</p>
        <p>Start Date: {{ project.startDate | date }}</p>
        <p>End Date: {{ project.endDate | date }}</p>
        <h3>Tasks</h3>
        <ul>
          <li *ngFor="let task of tasks">
            <span>{{ task.name }}</span>
            <span *ngIf="task.status"> ( {{ task.status }} )</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <button *ngIf="!task.assignedTo" (click)="showAssignUserModal(task)">Assign</button>
            <span *ngIf="task.assignedTo"> Assigned User : {{ task.assignedTo.name }}</span>
          </li>
        </ul>
        <p>Project Progress: {{ project.progress }}%</p>

        <div class="AddTaskDiv">
            <div class="addrowDiv">
                <button type="button" class="btn" [routerLink]="['/main-list']" >Go To Main List</button>
            </div>
        </div>

      </div>
    </div>
  
    <!-- Assign User Modal -->
    <div *ngIf="isModalOpen" class="" >
      <div class="modal-header">
        <h4>Assign User</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li *ngFor="let user of users">
            <input (click)="assignUserToTask(user)" type="radio" name="user.name" id="">&nbsp;&nbsp;&nbsp;&nbsp;
            <a >{{ user.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>